parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$nodeValue on DOMNode\\|null\\.$#"
			count: 30
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Cannot call method item\\(\\) on DOMNodeList\\<DOMNode\\>\\|false\\.$#"
			count: 31
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest has an uninitialized property \\$builder\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeGetNodeValue\\(\\) has parameter \\$nodes with generic class DOMNodeList but does not specify its types\\: TNode$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeGetNodeValue\\(\\) is unused\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeQueryXPath\\(\\) is unused\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, DOMNodeList\\<DOMNode\\>\\|false given\\.$#"
			count: 36
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$string of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertMatchesRegularExpression\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Call to an undefined method CorentinBoutillier\\\\InvoiceBundle\\\\Pdp\\\\PdpConnectorInterface\\:\\:method\\(\\)\\.$#"
			count: 4
			path: tests/Unit/Pdp/PdpDispatcherTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on mixed\\.$#"
			count: 4
			path: tests/Unit/Pdp/PdpDispatcherTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Pdp\\\\Connector\\\\NullConnectorTest has an uninitialized property \\$connector\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Pdp/Connector/NullConnectorTest.php

		-
			message: "#^Parameter \\#1 \\$transmissionId of method CorentinBoutillier\\\\InvoiceBundle\\\\Pdp\\\\Connector\\\\NullConnector\\:\\:getStatus\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Unit/Pdp/Connector/NullConnectorTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$result\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$event\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmissionFailedEventTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmissionFailedEventTest.php

		-
			message: "#^Parameter \\#2 \\$value of method Symfony\\\\Component\\\\DependencyInjection\\\\Container\\:\\:setParameter\\(\\) expects array\\|bool\\|float\\|int\\|string\\|UnitEnum\\|null, mixed given\\.$#"
			count: 14
			path: src/DependencyInjection/InvoiceBundleExtension.php

		-
			message: "#^Parameter \\$security of method CorentinBoutillier\\\\InvoiceBundle\\\\Provider\\\\SecurityUserProvider\\:\\:__construct\\(\\) has invalid type Symfony\\\\Bundle\\\\SecurityBundle\\\\Security\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Property CorentinBoutillier\\\\InvoiceBundle\\\\Provider\\\\SecurityUserProvider\\:\\:\\$security has unknown class Symfony\\\\Bundle\\\\SecurityBundle\\\\Security as its type\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Call to method getUser\\(\\) on an unknown class Symfony\\\\Bundle\\\\SecurityBundle\\\\Security\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Cannot call method getUserIdentifier\\(\\) on mixed\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function method_exists expects object\\|string, mixed given\\.$#"
			count: 4
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Cannot call method getFullName\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Cannot call method getName\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Cannot call method getUsername\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Cannot call method getEmail\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Parameter \\$id of class CorentinBoutillier\\\\InvoiceBundle\\\\DTO\\\\UserData constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Parameter \\$name of class CorentinBoutillier\\\\InvoiceBundle\\\\DTO\\\\UserData constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Parameter \\$email of class CorentinBoutillier\\\\InvoiceBundle\\\\DTO\\\\UserData constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Entity\\\\InvoiceTransmissionTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Entity/InvoiceTransmissionTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\EReporting\\\\EReportingSchedulerTest has an uninitialized property \\$scheduler\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/EReporting/EReportingSchedulerTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\EReporting\\\\EReportingServiceTest has an uninitialized property \\$service\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/EReporting/EReportingServiceTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\EReporting\\\\EReportingService\\:\\:calculateVatBreakdown\\(\\) should return array\\<string, string\\> but returns array\\<int\\|string, string\\>\\.$#"
			count: 1
			path: src/EReporting/EReportingService.php
