parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$value of method Symfony\\\\Component\\\\DependencyInjection\\\\Container\\:\\:setParameter\\(\\) expects array\\|bool\\|float\\|int\\|string\\|UnitEnum\\|null, mixed given\\.$#"
			count: 17
			path: src/DependencyInjection/InvoiceBundleExtension.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\EReporting\\\\EReportingService\\:\\:calculateVatBreakdown\\(\\) should return array\\<string, string\\> but returns array\\<int\\|string, string\\>\\.$#"
			count: 1
			path: src/EReporting/EReportingService.php

		-
			message: "#^Parameter \\$email of class CorentinBoutillier\\\\InvoiceBundle\\\\DTO\\\\UserData constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Parameter \\$name of class CorentinBoutillier\\\\InvoiceBundle\\\\DTO\\\\UserData constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Provider/SecurityUserProvider.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\EReporting\\\\EReportingSchedulerTest has an uninitialized property \\$scheduler\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/EReporting/EReportingSchedulerTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\EReporting\\\\EReportingServiceTest has an uninitialized property \\$service\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/EReporting/EReportingServiceTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Entity\\\\InvoiceTransmissionTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Entity/InvoiceTransmissionTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmissionFailedEventTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmissionFailedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$event\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$invoice\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Event\\\\InvoiceTransmittedEventTest has an uninitialized property \\$result\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Event/InvoiceTransmittedEventTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Pdp\\\\Connector\\\\NullConnectorTest has an uninitialized property \\$connector\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Pdp/Connector/NullConnectorTest.php

		-
			message: "#^Parameter \\#1 \\$transmissionId of method CorentinBoutillier\\\\InvoiceBundle\\\\Pdp\\\\Connector\\\\NullConnector\\:\\:getStatus\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Unit/Pdp/Connector/NullConnectorTest.php

		-
			message: "#^Call to an undefined method CorentinBoutillier\\\\InvoiceBundle\\\\Pdp\\\\PdpConnectorInterface\\:\\:method\\(\\)\\.$#"
			count: 4
			path: tests/Unit/Pdp/PdpDispatcherTest.php

		-
			message: "#^Cannot call method willReturn\\(\\) on mixed\\.$#"
			count: 4
			path: tests/Unit/Pdp/PdpDispatcherTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:195\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:225\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:255\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:285\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:315\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Method class@anonymous/tests/Unit/Provider/SecurityUserProviderTest\\.php\\:351\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: tests/Unit/Provider/SecurityUserProviderTest.php

		-
			message: "#^Cannot call method item\\(\\) on DOMNodeList\\<DOMNode\\>\\|false\\.$#"
			count: 57
			path: tests/Unit/Service/FacturX/FacturXEN16931XmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, DOMNodeList\\<DOMNode\\>\\|false given\\.$#"
			count: 43
			path: tests/Unit/Service/FacturX/FacturXEN16931XmlBuilderTest.php

		-
			message: "#^Cannot access property \\$nodeValue on DOMNode\\|null\\.$#"
			count: 30
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Cannot call method item\\(\\) on DOMNodeList\\<DOMNode\\>\\|false\\.$#"
			count: 31
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Class CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest has an uninitialized property \\$builder\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeGetNodeValue\\(\\) has parameter \\$nodes with generic class DOMNodeList but does not specify its types\\: TNode$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeGetNodeValue\\(\\) is unused\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Method CorentinBoutillier\\\\InvoiceBundle\\\\Tests\\\\Unit\\\\Service\\\\FacturX\\\\FacturXXmlBuilderTest\\:\\:safeQueryXPath\\(\\) is unused\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, DOMNodeList\\<DOMNode\\>\\|false given\\.$#"
			count: 36
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, string\\|null given\\.$#"
			count: 2
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php

		-
			message: "#^Parameter \\#2 \\$string of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertMatchesRegularExpression\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Unit/Service/FacturX/FacturXXmlBuilderTest.php
