services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Services disponibles pour l'autowiring
    CorentinBoutillier\InvoiceBundle\Service\:
        resource: '../src/Service/*'

    CorentinBoutillier\InvoiceBundle\Repository\:
        resource: '../src/Repository/*'
        tags: ['doctrine.repository_service']

    CorentinBoutillier\InvoiceBundle\EventSubscriber\:
        resource: '../src/EventSubscriber/*'
        tags: ['kernel.event_subscriber']

    CorentinBoutillier\InvoiceBundle\Validator\:
        resource: '../src/Validator/*'

    # Alias for interface to implementation
    CorentinBoutillier\InvoiceBundle\Service\NumberGenerator\InvoiceNumberGeneratorInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\NumberGenerator\InvoiceNumberGenerator
        public: false

    CorentinBoutillier\InvoiceBundle\Service\PaymentManagerInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\PaymentManager
        public: false

    CorentinBoutillier\InvoiceBundle\Service\Pdf\TwigPdfGenerator:
        arguments:
            $twig: '@twig'
            $templatePath: '@Invoice/invoice/pdf.html.twig'

    CorentinBoutillier\InvoiceBundle\Service\Pdf\PdfGeneratorInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\Pdf\TwigPdfGenerator
        public: false

    CorentinBoutillier\InvoiceBundle\Service\Pdf\Storage\FilesystemPdfStorage:
        arguments:
            $basePath: '%invoice.pdf.storage_path%'

    CorentinBoutillier\InvoiceBundle\Service\Pdf\Storage\PdfStorageInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\Pdf\Storage\FilesystemPdfStorage
        public: true

    CorentinBoutillier\InvoiceBundle\Service\InvoiceManagerInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\InvoiceManager
        public: true

    CorentinBoutillier\InvoiceBundle\Service\InvoiceFinalizerInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\InvoiceFinalizer
        public: true

    # Company Provider (configuration-based)
    CorentinBoutillier\InvoiceBundle\Provider\ConfigCompanyProvider:
        arguments:
            $config: '%invoice.company%'
        public: true

    CorentinBoutillier\InvoiceBundle\Provider\CompanyProviderInterface:
        alias: CorentinBoutillier\InvoiceBundle\Provider\ConfigCompanyProvider
        public: true

    # Due Date Calculator
    CorentinBoutillier\InvoiceBundle\Service\DueDateCalculatorInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\DueDateCalculator
        public: false

    # FEC Exporter with accounting configuration
    CorentinBoutillier\InvoiceBundle\Service\Fec\FecExporter:
        arguments:
            $customerAccount: '%invoice.accounting.customer_account%'
            $salesAccount: '%invoice.accounting.sales_account%'
            $vatCollectedAccount: '%invoice.accounting.vat_collected_account%'
            $journalCode: '%invoice.accounting.journal_code%'
            $journalLabel: '%invoice.accounting.journal_label%'

    CorentinBoutillier\InvoiceBundle\Service\Fec\FecExporterInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\Fec\FecExporter
        public: true

    # Factur-X Services
    CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXConfigProvider:
        arguments:
            $enabled: '%invoice.factur_x.enabled%'
            $profile: '%invoice.factur_x.profile%'
            $xmlFilename: '%invoice.factur_x.xml_filename%'

    CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXConfigProviderInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXConfigProvider
        public: false

    CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXXmlBuilder: ~

    CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXXmlBuilderInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\FacturX\FacturXXmlBuilder
        public: false

    CorentinBoutillier\InvoiceBundle\Service\FacturX\PdfA3Converter: ~

    CorentinBoutillier\InvoiceBundle\Service\FacturX\PdfA3ConverterInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\FacturX\PdfA3Converter
        public: false
