services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Services disponibles pour l'autowiring
    CorentinBoutillier\InvoiceBundle\Service\:
        resource: '../src/Service/*'

    CorentinBoutillier\InvoiceBundle\Repository\:
        resource: '../src/Repository/*'
        tags: ['doctrine.repository_service']

    CorentinBoutillier\InvoiceBundle\EventSubscriber\:
        resource: '../src/EventSubscriber/*'
        tags: ['kernel.event_subscriber']

    CorentinBoutillier\InvoiceBundle\Validator\:
        resource: '../src/Validator/*'

    # Alias for interface to implementation
    CorentinBoutillier\InvoiceBundle\Service\NumberGenerator\InvoiceNumberGeneratorInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\NumberGenerator\InvoiceNumberGenerator
        public: false

    CorentinBoutillier\InvoiceBundle\Service\PaymentManagerInterface:
        alias: CorentinBoutillier\InvoiceBundle\Service\PaymentManager
        public: false
